<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <article class="brand-logo">
    <a class="marvel-text"> MARVEL </a>
  </article>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

        <li>
          <input
            (keydown.enter)="search()"
            [(ngModel)]="searchWord"
            placeholder="Type to search.."
            class="form-control bg-dark"
            type="text"
            name=""
            id=""
          />
        </li>
        <li class="search-li">
          <button class=" serach-btn btn btn-dark" (click)="search()">Search</button>
        </li>
      <div class="filters">
        <div class="side-items" *ngFor="let category of categories">
          <li [class.active]="selected == category.name" (click)="selectCategory(category.name)" class="side-item">
            <div class="category-icon" [style]="category.icon"></div>
            <label class="category-name">{{ category.name }}</label>
          </li>
        </div>
      </div>

    </ul>
  </div>
</nav>
