nav {
  background-color: var(--dark-gray) !important;
  height: 65px;


  ul{
    li{
      width: 100%;
      input{
        color: whitesmoke;
        width: 70vh;
        border: none;
      }
      input:hover{
        cursor: pointer;
        border:1px solid var(--dark-red);
        box-shadow: 0 0 10px black;
      }
      input:focus{
        outline: none !important;
        border:1px solid var(--dark-red);
        box-shadow: 0 0 10px black;

      }
      button{
        margin-left: 10px;
      }

      button:hover{
        cursor: pointer;
        border:1px solid var(--dark-red);
        box-shadow: 0 0 10px black;
      }

      button:active{
        border:1px solid var(--dark-red);
        box-shadow: 0 0 10px black;
      }
    }
  }
}


.brand-logo {
  background-color: var(--dark-red);
  width: 220px;
  height: 55px;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  margin-right: 30px;

  .marvel-text {
    color: whitesmoke;
    font-family: 'marvel';
    font-size: 4em;
    padding: 23px;
    user-select: none;
    display: flex;
    justify-content: center;
    width: 100%;
    a {
      text-decoration: none;
    }
  }
}

.brand-logo:hover {
  cursor: pointer;
  scale: 1.08;
  a {
    text-decoration: none;
  }
}

.brand-logo:active {
  filter:grayscale(85%);
}




.side-items{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin-top: 20px;
  margin-left: 30px;
}

.side-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  .category-icon {
    display: flex;
    justify-content: flex-start;

    width: 82px;
    height: 65px;
    background-size: cover;
    border-radius: 500px;
  }

  .category-name {
    display: flex;
    justify-content: flex-start;
    color: whitesmoke;
    width: 100%;
    font-size: 1.2em;
    font-family: 'comic sans ms'
  }

  gap: 20px;
  z-index: 1;
  padding: 15px;
  width: 220px;
  background-color: var(--gray-primary);
}


  .side-item:hover{
    box-shadow: 0 0 20px var(--dark-red);
    scale: 1.01;
  }

  .active{
    box-shadow: 0 0 20px var(--dark-red);
  }


  @media (min-width: 993px) {
    .filters {
    display:none;
    }
  }


@media (max-width: 993px) {
  .searcher {
  display:none;
  }


  #navbarNav{
    z-index: 10;
    background: var(--dark-gray);
    padding: 10px;
  }

  input{
    width: 80vw !important;
  }
  .search-li{
    padding: 20px !important;
    margin: auto;
  }
}
