.image {
  width: 250px;
  height: 380px;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}

.image:hover {
  box-shadow: 0 0 20px rgba(140, 24, 24, 0.7);
  cursor: pointer;
}


.comic-card{
  position: relative;
}

.comic-title {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--gray-secondary);
  color: rgb(227, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  z-index: 0;
  cursor: pointer;

  h3{
    font-family: 'comic sans ms';
  }
}
