<section class="comics-container" >

  <section *ngIf="loading">
    <ngx-skeleton-loader
    count="20"
    appearance="line"
    animation="pulse"
    [theme]="{ background:'gray', margin:'10px', height: '380px', width: '250px' }"
  ></ngx-skeleton-loader>
  </section>


  <section *ngIf="!loading && comics.length === 0">
    <div class="no-results-container">
      <div class="no-results-image"></div>
      <h2 class="no-results-text">No characters found</h2>
    </div>
  </section>

  <div *ngFor="let comic of comics">
    <app-comic-card [comic]="comic"></app-comic-card>
  </div>
</section>
