/* You can add global styles to this file, and also import other style files */
:root
{
  --dark-gray: #141b22;
  --dark-red:#771017;
  --gray-primary: #1a242c;
  --gray-secondary: #34383c;
  --gray-tertiary: #4c4d4a;
}

body
{
  background-color: var(--dark-gray);
}

@font-face {
  font-family: 'marvel';
  src: url("./assets/fonts/MarvelRegular.ttf") format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
